* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

:root {
    font-size: 62.5%;

    --ff-heading: 'Bebas Neue', cursive;
    --ff-body: 'Montserrat', sans-serif;

    --fs-heading: 3rem;
    --fs-body: 1.6rem;

    --tc-primary: white;
    --tc-secondary: #E49F28;
}

body {
    background: black;
    color: white;
    background-color: #1f1e1e;
    background-image: url("./Assets/images/bg1.png");
    background-repeat: repeat-y;
    background-blend-mode: multiply;
    background-position: top center;
    background-size: contain;
}

main {
    max-width: 32rem;
    margin: 0 auto;
}

span {
    color: var(--tc-secondary);
}

section {
    margin-bottom: 5rem;
}

.logo {
    width: 11rem;
    margin: 3rem 0;
}

#home h1 {
    color: var(--tc-primary);

    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
    font-weight: 400;
    line-height: 4rem;
    margin-bottom: 2rem;
}

#home p {
    color: var(--tc-primary);

    font-family: var(--ff-body);
    font-size: 1.5rem;
    line-height: 2.6rem;
}

.video {
    max-width: 32rem;
    max-height: 18rem;
    margin: 2rem 0;
}

.invite-wrapper {
    display: grid;
    gap: 1rem;
}

.invite {
    color: var(--tc-secondary);
    
    font-family: var(--ff-body);
    font-size: 2rem;
    
    display: flex;
    align-items: center;
    gap: 2rem;
}

.invite i{
    color: var(--tc-primary);
}

.button {
    color: var(--tc-primary);
    background: var(--tc-secondary);
    border-radius: 9px;
    padding: 1.5rem;

    font-family: var(--ff-body);
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#knowledge .title {
    width: 32rem;

    color: #000000;

    font-family: var(--ff-heading);
    font-weight: 400;
    font-size: 2rem;
    padding: 1.5rem 0;

    background: var(--tc-secondary);
    text-align: center;

    border-radius: 9px;
}

.topics {
    width: 30rem;
    margin: 0 auto;
}

.topic {
    border: 3px solid var(--tc-secondary);
    border-top: 0px;
    border-radius: 5px;

    display: flex;
    gap: 4rem;
    padding: 1rem;
    align-items: center;
}

.topic h2{
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
    line-height: 5.8rem;
}

.topic h3 {
    font-weight: 700;
    font-size: var(--fs-body);
    font-family: var(--ff-body);
}

#student h1 {
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
    font-weight: normal;
    line-height: 4rem;
    margin-bottom: 2rem;
}

#student p {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    line-height: 2.6rem;
}

.student-type-wrapper {
    margin-top: 3rem;
    display: grid;
    gap: 2rem;
}

.student-type {
    border: 3px solid var(--tc-secondary);
    border-radius: 21px;
    padding: 4.5rem 2.5rem;
    height: 40rem;

    display: grid;
    gap: 2rem;
}

.student-type h3 {
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
    font-weight: normal;
    line-height: 3rem;
}

#ability p {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    line-height: 2.6rem;
}

#ability p span {
    font-weight: bold;
}

#help {
    border: 3px solid var(--tc-secondary);
    border-radius: 40px;
    padding: 3.5rem;
}

#help h3 {
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
    line-height: 2.8rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

#help p {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    line-height: 2.6rem;
}

#creator {
    margin-top: 5rem;
}

#creator .text-wrapper h3 {
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
    font-weight: normal;
}

#creator .text-wrapper p {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    line-height: 2.6rem;
}

#contact h3 {
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
    line-height: 4rem;
    font-weight: normal;
}

#contact p {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    line-height: 2.6rem;
    margin-top: 2rem;
}

#contact .button {
    align-items: center;
    gap: 2rem;
}

#contact .button p {
    margin: 0;
    font-size: 2rem;
}

footer {
    background: var(--tc-secondary);
}

.footer-container {
    max-width: 32rem;

    margin: 5rem auto 0;
    font-family: var(--ff-heading);
    color: var(--tc-primary);
    font-weight: 400;
    font-size: 1.5rem;

    padding: 2rem;
}

.footer-container h3 {
    font-weight: 400;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:visited {
    color: white;
}

.socials {
    margin-top: 1rem;
    font-size: 2rem;
}

@media (min-width: 1200px) {
    main {
        max-width: 1200px;
        padding: 0 8rem;
    }
    
    :root {
        --fs-heading: 3.6rem;
        --fs-body: 1.7rem;
    }

    section {
        margin-bottom: 10rem;
    }

    .logo {
        width: 13rem;
    }

    .cta {
        display: flex;
        gap: 4rem;
    }

    .hero {
        width: 50rem;
    }

    .video {
        max-width: 60rem;
        max-height: 40rem;
        margin: 0;
    }

    #home .cta:nth-child(2) {
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 9.6rem;
    }

    .button {
        width: 41.7rem;
        align-items: center;
        margin: 5rem auto 0;
    }

    #home .button {
        margin: 2rem 0 0;
    }

    #knowledge .title {
        width: 89.1rem;
        margin: 0 auto;

        font-size: var(--fs-heading);
    }

    .topics {
        width: 86.1rem;
        margin-bottom: 5rem;
    }

    .topic h2 {
        font-size: 5rem;
        margin-left: 5.2rem;
    }

    .topic h3 {
        font-size: 2.2rem;
    } 

    #student h1 {
        font-size: 4.8rem;
    }

    .student-type-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .student-type {
        gap: 4.5rem;
        height: auto;
        width: 32rem;
    }

    #ability {
        width: 93.1rem;
        margin: 0 auto 10rem;
    }

    #help {
        width: 100.5rem;
        margin: 0 auto 5rem;
    }

    #help h3 {
        width: 72.8rem;
        font-size: 4.8rem;
        line-height: 4.5rem;
    }

    #help p {
        font-size: 2.2rem;
        line-height: 3rem;
    }

    #creator {
        display: flex;
        margin-top: 10rem;
    }

    #creator .text-wrapper {
        max-width: 62.9rem;
    }

    #creator .text-wrapper h3 {
        font-size: 4.8rem;
    }

    #creator .text-wrapper p {
        font-size: 1.8rem;
    }

    #contact {
        margin-top: 15rem;
        text-align: center;
    }

    #contact h3 {
        font-size: 4.8rem;
    }

    .footer-container {
        margin: 4rem auto 0;
        max-width: 1200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 2rem;
    }

    .socials {
        font-size: 3rem;
    }
}